body {
    background-color: rgb(247, 247, 247);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(247, 247, 247);
    top: 0px
}

div.logo {
    flex: 1;
    padding-left: 4rem;
}

ul{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    padding-right: 0.5rem;
}

header.container {
    padding: 1rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 3rem;
    margin-bottom: 4rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

h3.uni-name {
    font-size: 1.2rem;
}

p.description {
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 200;
}

div.container {
    width: 20%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 1rem 1rem rgba(10, 4, 68, 0.1);
    margin: 1rem auto;
}

div.card:hover > div.container:not(:hover) {
    opacity: 0.3;
}

#c1 {
    border-top: 5px solid #45d2d2;
    position: absolute;
    top: 23rem;
    left: 12rem; /*12rem*/
    transition: all 750ms ease-in-out 100ms;
}

#c1:hover {
    top: 20.5rem;
    cursor: pointer;
}

#c1:hover  p.b1 {
    opacity: 1;
}

/* #c1:hover ~ #c2{
    left: 39rem;
    opacity: 0.3;
}

#c1:hover ~ #c3{
    right: 7rem;
    opacity: 0.3;
}

#c1:hover ~ #c4{
    left: 39rem;
    opacity: 0.3;
} */



#c2 {
    border-top: 5px solid #eb5454;
    margin-bottom: 3rem;
    position: relative;
    top: 0rem;
    transition: all 750ms ease-in-out 100ms;
}

#c2:hover {
    top: -2.5rem;
    cursor: pointer;
}

#c2:hover  p.b2 {
    opacity: 1;
}

#c3 {
    position: absolute;
    border-top: 5px solid #539df0;
    top: 23rem;
    right: 12rem;
    transition: all 750ms ease-in-out 100ms;
}

#c3:hover {
    cursor: pointer;
    top: 21rem;
}

#c3:hover  p.b3 {
    opacity: 1;
}

#c4 {
    border-top: 5px solid #ffda2a;
    position: relative;
    top: 0rem;
    transition: all 750ms ease-in-out 100ms;
}

#c4:hover {
    top: -2.5rem;
    cursor: pointer;
}

#c4:hover  p.b4 {
    opacity: 1;
}

div.icon {
    text-align: right;
}

div.btn-continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.button {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    opacity: 0;
    transition: all 750ms ease-in-out 100ms;
}

p.button.b1 {
    border: 2px solid #45d2d2;
}

p.b1:hover {
    background-color: #45d2d2;
}

p.button.b2 {
    border: 2px solid #eb5454;
}

p.b2:hover {
    background-color: #eb5454;
}

p.button.b3 {
    border: 2px solid #539df0;
}

p.b3:hover {
    background-color: #539df0;
}

p.button.b4 {
    border: 2px solid #ffda2a;
}

p.b4:hover {
    background-color: #ffda2a;
}

a.btn {
    color: black;
}

a.btn.active {
    color: white;
}

.point.c1, .point.c4 {
    margin-bottom: 0;
}

.point {
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #aaa;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: black;
}

nav ul li a {
  position: relative;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}

div.home-wrapper {
    margin-bottom: 8rem;
}

div.our-dev-container {
    margin: 4rem auto;
    border-radius: 0.5rem;
    /* box-shadow: 0 2rem 2rem rgba(10, 4, 68, 0.1); */
    padding: 1.5rem;
    /* border-top: 5px solid #eb5454; */
}

header.dev-header {
    text-align: center;
    margin-bottom: 2rem;
}

h3.our-dev {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

div.devs-container {
    display: flex;
}

div.developers {
    width: 27.5%;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid #aaa;
    transition: all 400ms ease-in-out 50ms;
}

div.developers:hover {
    box-shadow: 2rem 2rem 3rem rgba(10, 4, 68, 0.1);
    transform: scale(1.1);
}

div.developers:hover div.dev-icons {
    opacity: 0.75;
}

figure {
    text-align: center;
}

img.dev-photo {
    border-radius: 50%;
    object-fit: cover;
}

p.dev-name {
    font-size: 1.1rem;
}

a.mail {
    color: black;
    font-weight: 200;
}

div.icons {
    display: block;
}

div.dev-icons {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: all 450ms ease-in-out 50ms;
}

div.motto-container {
    /* 
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 2rem rgba(10, 4, 68, 0.1); */
    padding: 1.5rem;
    /* border-top: 5px solid #45d2d2; */
    width: 90%;
    margin: 4rem auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

header.motto-header {
    text-align: center;
}

h1.motto-head {
    font-size: 2rem;
}

div.motto {
    width: 30%;
    padding: 1rem;
}

.m1 {
    margin-top: 6rem;
}

.m2 {
    margin-top: 3rem;
}

div.motto-icon {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 2rem 2rem rgba(10, 4, 68, 0.1);
    border-radius: 25px;
}

h2.motto-heading {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
}

p.motto-p {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 200;
}

div.contact-container {
    width: 90%;
    margin: 4rem auto;
    width: 30%;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 2rem rgba(10, 4, 68, 0.1);
    padding: 2rem;
    border-top: 5px solid #539df0;
    text-align: center;
}

h3.contact-heading {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

form.contact-form {
    display: flex;
    flex-direction: column;
}

.form-cell {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    height: 1.5rem;
    padding: 0.5rem;
}

textarea.form-cell {
    height: 10rem;
}

.form-cell.submit {
    margin-top: 1rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #539df0;
    color: white;
    font-weight: 200;
    cursor: pointer;
    transition: all 100ms ease-in-out 25ms;
}

.form-cell.submit:hover {
    transform: scale(1.1);
}

.form-cell.submit:active {
    transform: scale(1);
    background-color: #45d2d2;
}

footer {
    width: 100%;
    background-color: rgb(239, 239, 239 );
    padding: 1rem;
    margin: 0;
}

p.footer {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

@media screen and (max-width: 1366px) {
    #c1 {
        left: 7rem;
        top: 24.5rem;
    }

    #c3 {
        right: 7rem;
        top: 24.5rem;
    }

    ul{
        flex: 1.3;
    }
}

@media screen and (max-width: 1024px) {
    #c1 {
        left: 4rem;
        top: 25.5rem;
    }

    #c3 {
        right: 4rem;
        top: 25.5rem;
    }

    ul{
        flex: 1.4;
    }
}

@media screen and (max-width: 991px) {
    #c1, #c3 {
        top: 26.5rem;
    }
}

@media screen and (max-width: 768px) {
    div.card {
        display: flex;
        flex-direction: column;
    }
    div.container {
        width: 50%;
    }

    #c1, #c3 {
        position: static;
    }

    div.devs-container {
        flex-direction: column;
    }

    div.developers {
        width: 50%;
    }

    div.contact-container {
        width: 50%;
    }

    div.logo {
        padding-left: 2rem;
    }
    
    ul{
        flex: 1.5;
        padding-right: 3rem;
    }

    header.container {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    div.container {
        width: 60%;
    }

    div.developers {
        width: 80%;
    }

    div.contact-container {
        width: 60%;
    }
    
    div.logo {
        padding-left: 1rem;
    }
    
    ul{
        flex: 2;
        padding-right: 2rem;
    }

    header.container {
        width: 90%;
    }

    div.motto-container {
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.motto {
        text-align: center;
        width: 80%;
        padding: 1rem;
    }

    div.motto-icon {
        margin: auto;
    }
}

@media screen and (max-width: 414px) {
    div.logo {
        padding-left: 0.5rem;
    }

    ul {
        flex: 3;
        padding-right: 1rem;
    }

    div.motto {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 320px) {
    div.logo {
        padding-left: 0.1rem;
    }

    ul {
        flex: 4;
        padding-right: 0.5rem;
    }

    div.developers {
        width: 90%;
    }

    div.contact-container {
        width: 85%;
    }

    div.motto {
        width: 90%;
        padding: 0.5rem;
    }
}
