body {
    background-color: rgb(247, 247, 247);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    border-top: 7.5px solid #eb5454;
    box-shadow: 0 2rem 2rem rgba(10, 4, 68, 0.1);
}

header {
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

p {
    line-height: 1.5;
    font-size: 1.2rem;
}