body {
    background-color: rgb(247, 247, 247);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(247, 247, 247);
    top: 0px
}

div.logo {
    flex: 1;
    padding-left: 4rem;
}

ul {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

header.container {
    padding: 1rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 3rem;
    margin-bottom: 4rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

p.description {
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 200;
}

div.container {
    width: 20%;
    height: 150px;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 1rem 1rem rgba(10, 4, 68, 0.1);
    margin: 1rem auto;
}

div.card:hover > div.container:not(:hover) {
    opacity: 0.3;
}

#c1 {
    border-top: 5px solid #45d2d2;
    position: absolute;
    top: 23rem;
    left: 5rem; /*12rem*/
    transition: all 750ms ease-in-out 100ms;
}

#c1:hover {
    top: 20.5rem;
    cursor: pointer;
}

#c1:hover  p.b1 {
    opacity: 1;
}

/* #c1:hover ~ #c2{
    left: 39rem;
    opacity: 0.3;
}

#c1:hover ~ #c3{
    right: 7rem;
    opacity: 0.3;
}

#c1:hover ~ #c4{
    left: 39rem;
    opacity: 0.3;
} */



#c2 {
    border-top: 5px solid #eb5454;
    position: relative;
    top: 0rem;
    transition: all 750ms ease-in-out 100ms;
}

#c2:hover {
    top: -2.5rem;
    cursor: pointer;
}

#c2:hover  p.b2 {
    opacity: 1;
}

#c3 {
    position: absolute;
    border-top: 5px solid #539df0;
    top: 23rem;
    right: 5rem;
    transition: all 750ms ease-in-out 100ms;
}

#c3:hover {
    cursor: pointer;
    top: 21rem;
}

#c3:hover  p.b3 {
    opacity: 1;
}

#c4 {
    border-top: 5px solid #ffda2a;
    position: relative;
    top: 0rem;
    transition: all 750ms ease-in-out 100ms;
}

#c4:hover {
    top: -2.5rem;
    cursor: pointer;
}

#c4:hover  p.b4 {
    opacity: 1;
}

div.icon {
    text-align: right;
}

div.btn-continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.button {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    opacity: 0;
    transition: all 750ms ease-in-out 100ms;
}

p.button.b1 {
    border: 2px solid #45d2d2;
}

p.b1:hover {
    background-color: #45d2d2;
}

p.button.b2 {
    border: 2px solid #eb5454;
}

p.b2:hover {
    background-color: #eb5454;
}

p.button.b3 {
    border: 2px solid #539df0;
}

p.b3:hover {
    background-color: #539df0;
}

p.button.b4 {
    border: 2px solid #ffda2a;
}

p.b4:hover {
    background-color: #ffda2a;
}

a.btn {
    color: black;
}

a.btn.active {
    color: white;
}

.point.c1, .point.c4 {
    margin-bottom: 0;
}

.point {
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #aaa;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: black;
}

nav ul li a {
  position: relative;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}